@CHARSET "UTF-8";
BODY {
	padding-top:40px;
  padding-bottom:40px;
}

.form-signin { }

.form-signin-heading {
  margin-bottom:25px;
}

.input-prepend {
	width:80%; 
	margin-bottom:15px;
}
