@CHARSET "UTF-8";

.reports-tbl TH {
	text-align:center;
}

.reports-tbl .date {
	text-align:center;
}

.reports-tbl .package-name {
	
}

.reports-tbl .version-name {
	text-align:center;
}

.reports-tbl .version-code {
	text-align:center;
}

.reports-tbl .android-version {
	text-align:center;
}

.reports-tbl .phone-model {
	
}

TABLE.most-affected TD {
}

TABLE.most-affected .device {
	display:inline-block;
}

TABLE.most-affected .brand {
	display:inline-block;	
}

TABLE.most-affected TD.count { 
	font-size:22px;
	text-align:center; 
}

.most-affected-1 {
	color:#F15151;	
}

.most-affected-2 {
	color:#F3755C;	
}

.most-affected-3 {
	color:#F18B5E;	
}

.most-affected-4 {
	color:#EFA564;	
}

.most-affected-5 {
	color:#EFA564;	
}

