<?php
$mGlobalCfg = array(
	'db.host'=>'%s',
	'db.name'=>'%s',
	'db.user'=>'%s',
	'db.pwd'=>'%s',
		
	'tbl.prefix'=>'%s',
		
	'date.format'=>'%s',
	'date.timezone'=>'%s',
	
	'report.packagename.shrink'=>%s,
	'report.sendmail'=>%s,
	'report.sendmail.recipients'=>'%s',
		
	'report.basicauth'=>%s,
	'report.basicauth.method'=>%d,
	// we use an array of accounts to be able to support multiple accounts in future
	'report.basicauth.accounts'=>array(%s),
		
	'mail.from.addr'=>'%s',
	'mail.from.name'=>'%s',
	
	'dashboard.refresh.interval'=>%d,
	'dashboard.issues.nb'=>%d,
		
	// http://twitter.github.io/bootstrap/components.html#labels-badges
	'report.tags'=>array(%s)
);