<?php
$mGlobalCfg = array(
	'db.host'=>'%s',
	'db.name'=>'%s',
	'db.user'=>'%s',
	'db.pwd'=>'%s',
		
	'tbl.prefix'=>'%s',
		
	'date.format'=>'%s',
	'date.timezone'=>'%s',
	
	'report.packagename.shrink'=>%s,
	'report.sendmail'=>%s,
	'report.sendmail.recipients'=>'%s',
		
	'mail.from.addr'=>'%s',
	'mail.from.name'=>'%s',
		
	// http://twitter.github.io/bootstrap/components.html#labels-badges
	'report.tags'=>array(%s)
);